@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.hero-gradient-text {
  background: linear-gradient(to right, #f37a1d, #d12873, #932cba);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-border {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: 3px dotted;
  border-image: linear-gradient(to right, #f37a1d, #d12873, #932cba) 1;
  border-radius: 0.5rem /* 8px */;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 500px;
  min-width: 0;
}

@media (max-width: 600px) {
  .embla__slide {
    flex: 0 0 90%;
  }
}

.gradient-background {
  background: linear-gradient(to right, #f37a1d, #d12873, #932cba);
}

.gradient {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(to right, #f37a1d, #d12873, #932cba);
  padding: 3px;
  margin-left: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

.gradient-sm {
  border-radius: 50%;
  background: linear-gradient(to right, #f37a1d, #d12873, #932cba);
  padding: 2.5px;
}

.image-sm {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

/* Quill Editor */

.ql-editor::before {
  font-size: 1.5rem !important; /* Customize placeholder text size */
  color: #a5a5a6 !important; /* Customize placeholder text color if needed */
}

.ql-editor {
  font-size: 1.5rem !important; /* Customize placeholder text color if needed */
}

/* BRIGHT LOGO */

.bright-logo-text {
  font-size: 393px;
  font-family: Youth;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.05em;
  color: #0f0f0f;
  line-height: 1.46;
  margin-left: 3%;
  margin-right: 3%;
}

.grid-container {
  width: 100%;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 1.25rem;
  padding-left: 1.88rem;
  padding-right: 1.88rem;
}

.blend {
  mix-blend-mode: difference;
}

/* NAV */

.ol {
  counter-reset: custom-counter;
  letter-spacing: -0.06em;
  line-height: 1;
}
